/* Nav-bar color */
:root {
    --toolbar-bgcolor: black !important;
}

#nav-bar {
    background-color: black !important;
}

/* Tabs bar color */
#TabsToolbar {
    background-color: black !important;
}
