/* Customize home / newtab */

@-moz-document url("about:home"),
url("about:newtab") {
    /* Change background */
    body {
        background-image: url("wp_bocchi.png") !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: bottom;
    }

    /* Layout positioning */
    main {
        width: 50vw !important;
    }

    .outer-wrapper.only-search {
        padding-top: 1vh !important;
    }

    /* Logo image */
    .search-wrapper .logo-and-wordmark .logo {
        background-image: url("logo_bocchi.png") !important;
        background-size: 12vw !important;
        width: 12vw !important;
        height: 12vw !important;
    }

    /* Logo text */
    .search-wrapper .logo-and-wordmark .wordmark {
        background: url("text_bocchi.png") !important;
        background-size: 30vw !important;
        width: 30vw !important;
        height: calc(30vw / 7) !important;
        margin-inline-start: 2vw !important;
    }

    /* Searchbar */
    .search-handoff-button,
    .tile {
        background-color: transparent !important;
        backdrop-filter: blur(10px);
    }

    /* Remove setting icon */
    .icon.icon-settings {
        display: none !important;
    }
}
